From the given dataset predict the optimum number of clusters and represent it visually

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [2]:
file = pd.read_csv("Iris.csv")

In [3]:
file= file.drop(['Id'], axis = 1)
file.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
#Label Encoding - for encoding categorical features into numerical ones
encoder = LabelEncoder()
file['Species'] = encoder.fit_transform(file['Species'])
file.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0

In [9]:
data = file.values

X=data[:, :4]
Y=data[:, -1]

train_x = X[:112, ]
train_y = Y[:112, ]

test_x = X[112:150, ]
test_y = Y[112:150, ]

In [ ]:
model = KMeans(n_clusters=3)
model.fit(train_x, train_y)

pred = model.predict(test_x)

In [15]:
print(accuracy_score(test_y, pred)*100)

100.0